html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
img{
    border-radius: 16px;
}
*{
    padding: 0;
    margin: 0;
    border:0px solid red;
}
body{
    width: 80%;
    margin: 0 auto;
    background-color: #F7F7F2;
}

img{
    display: block;
}

h1{
    font-size:96px;
    line-height: 144px;
    color: #260C1A;
}
h2{
    font-size:60px;
    line-height: 90px;
    color: #260c1a;
}
h3{
    font-size:48px;
    line-height: 72px;
    color: #333;
}
#recipe-list{
    margin-top: 32px;
    background-color: #e3e3d6;
    ;
    border-radius: 16px;
    padding: 32px;
}
#website_name,#website_icon{
    display: inline-block;
    height: 140px;
    vertical-align: middle;
}
#recipe-list li{
    
}
#recipe-list a{
    color: green;
}

#website_icon{
    padding-top:24px;
}

li{
    font-size: 14px;
    line-height: 21px;
    margin:10px;
    margin-left:20px;
}
p{
    font-size: 14px;
    color:#333;
    
}
p,li{
    width: 40%;
}

